$si_purple:   #573688;


$sea:         #1c779b;
$sky:         #258ab1;
$finch:       #ffda68;
$goldenrod:   #edb956;
$sunset:      #f26522;
$coffee:      #633c1c;


// Messaging
$bad:         #ff4949;
$good:        #55ea6e;

// Monochrome Basics
$white:       #FFF;
$black:       #000;
$black-10:    rgba(  0,   0,   0, 0.1);
$black-50:    rgba(  0,   0,   0, 0.5);
$white-50:    rgba(255, 255, 255, 0.5);
$white-90:    rgba(255, 255, 255, 0.9);

$gray-E:      #EEE;
$gray-D:      #DDD;
$gray-C:      #CCC;
$gray-B:      #BBB;
$gray-A:      #AAA;
$gray-9:      #999;
$gray-6:      #888;
$gray-7:      #777;
$gray-6:      #666;
$gray-5:      #555;
$gray-4:      #444;
$gray-3:      #333;
$gray-2:      #222;
$gray-1:      #111;
