.content {
  margin: 0 $gutter;
  padding: 2rem;
}

.content__header {
  @include clearfix;
}
.content__title {
  @include grid_col("md", 6, "min");

  h1 {}
  h3 {
    margin: 5rem;
    text-decoration: underline;
  }
}
.content__nav {
  @include grid_col("md", 6, "min");
  @include breakpoint('md','min','width') { 
    text-align: right;
  }
  a {
    text-decoration: none;
  }
}
.content__banner {
  width: 100%;
  text-align: center;
  img {
    width: 100%;
  }
}
.content__implied {
  display: none;
}
